@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Geist+Mono:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');


@font-face {
    font-family: "San Francisco";
    font-weight: 600;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
  }

*{
    user-select: none;
    margin: 0;
    padding: 0;
    font-family: "San Francisco";
    background-color: #333333;
    color: white;
}

.bcg-transparent{
    background-color: transparent;
}

.navigation-bar{
    /* position: fixed; */
    background-color: #333333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.nav-list{
    display: flex;
    background-color: #333333;
}

.nav-left, .icon, .Name, .person, .nav-right{
    background-color: #333333;
}

.nav-list li{
    display: flex;
    background-color: #333333;
    text-decoration: none;
    margin-right: 30px;
    font-size: 18px;
}

.nav-left{
    display: flex;
    font-size: 18px;
    gap: 5px;
}

.cursor{
    user-select: none;
}

.cursor:hover{
    opacity: 60%;
    cursor: pointer;
}

.cursor:active{
    opacity: 80%;
}

.bcg{
    background-color: black;
    background-image: url('assets/alexander-redl-d3bYmnZ0ank-unsplash.jpg');
    background-size: cover;
    background-repeat: none;
    opacity: 70%;
    width: 100%;
    height: 680px;
} 

.icon-name{
    padding-top: 220px;
    padding-left: 150px;
    color: white;
    font-size: 70px;
    font-family: "Noto Sans", cursive;
    font-weight: 700;
    text-shadow: 0px 0px 8px #ffffff;
    background-color: transparent;
}

.icon-description{
    padding-top: 8px;
    padding-left: 100px;
    /* color: rgba(255, 169, 82, 0.929); */
    color: white;
    font-size: 35px;
    text-shadow: 0px 0px 8px #ffffff;
    font-family: "Noto Sans", cursive;
    font-weight: 700;
    opacity: 100%;
    background-color: transparent;
}

.img-icon{
    width: 200px;
}

.content-items{
    color: whitesmoke;
    margin: 60px 0px 60px 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
}

.card {
    display: flex;
    align-items: center;
    max-width: 600px;
    background-color: #3c3c3c;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.card-image {
    border-radius: 7px;
    margin-left: 10px;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.card-info {
    padding: 20px;
    background-color: #3c3c3c;
    flex: 1;
}

.card-info h2 {
    background-color: #3c3c3c;
    font-size: 1.5em;
    margin-bottom: 10px;
    color: whitesmoke;
}

.card-info p {
    background-color: #3c3c3c;
    font-size: 1em;
    color: #666;
    margin-bottom: 15px;
}

.card-button {
    background-color: #3c3c3c;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card-button:hover {
    background-color: #0056b3;
}

.icon-name:hover, .icon-description:hover{
    animation: hov-glow 0.4s;
    animation-fill-mode: forwards;
}

@keyframes scale {
    from{
        scale: 1;
    }
    to{
        scale: 1.05;
    }
}

@keyframes hov-glow {
    from{
        text-shadow: 0px 0px 8px #ffffff;
    }
    to{
        text-shadow: 0px 0px 14px #ffffff;
    }
}

.card-button:active{
    opacity: 0.8;
}

.card-button a{
    background-color: transparent;
    text-decoration: none;
}

.card:hover{
    animation: scale;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}